@charset "utf-8";
/* CSS Document */
body {
	margin: 0;
	padding: 0;
	border: 0;
}
/**************清除浮动**********/
/* 全浏览器通用的clearfix方案【推荐】
 引入了zoom以支持IE6/7
 同时加入:before以解决现代浏览器上边距折叠的问题*/
.clearfix:before, .clearfix:after {
	display: table;
	content: " ";
}
.clearfix:after {
	clear: both;
}
.clearfix {
 *zoom: 1;
}
/***********设置居中***************/
.tcenter {
	marign: 0 auto;
	text-align: center;
}
/**********一级标题样式**********/
.tbar {
	width: 200px;
	color: #333;
	font-size: 24px;
	text-align: center;
	font-family: "宋体";
	margin: 10px auto;
	box-shadow: 0 1px 0 #888888;
}
/*************头部**************/
.header {
	width: 100%;
	height: 60px;
	color: #aaa;
	background-color: #333;
	border: 0;
	position: fixed;
	left: 0;
	top: 0;
	z-index:999;
}
.menu {
	width: 100%;
	height: 40px;
	color: #aaa;
	background-color: #000;
	border: 0;
	position: fixed;
	left: 0;
	top: 60px;
	z-index:999;
}
.nav_bar {
	width: 220px;
	line-height: 40px;
	text-align: center;
	float: right;
	display: inline-block;
}
/*************左侧浮动导航栏***************/
.side:hover {
}
.side_hidden {
	width: 90px;
	height: 300px;
	color: #aaa;
	background-color: #333;
	position: fixed;
	top: 50%;
	margin-top: -150px;
	border: 0;
	display: none;
	z-index:999;
}
.side_show {
	width: 10px;
	height: 300px;
	color: #aaa;
	background-color: #333;
	position: fixed;
	top: 50%;
	margin-top: -150px;
	border: 0;
	z-index:999;
}
/*********************中间正文*****************/
.content {
	width: 100%;
	background-color: #FFF;
	margin-top: 120px;
	margin-bottom: 50px;
}
.con_top {
	width: 1200px;
	height: 300px;
	margin: 0 auto;
	position:relative;
	overflow:hidden;
	background-color: #FFF;
	border-bottom: 1px #aaa solid;
}
con_top_lunbotu_list{
	width:1200px;
	height:300px;
	left:-1200px;
	position:absolute;
	z-index:1;
	}
.con_top_lunboto_list_item {
	width: 300px;
	height: 220px;
	margin: 10px 10px;
	background-color: #9CC;
	display: inline-block;
	position:absolute;
}
.con_bottom {
	width: 1200px;
	margin: 50px auto;
}
.con_bottom_item {
	width: 300px;
	height: 200px;
	margin: 10px 10px;
	color: #AAA;
	background-color: #FFF;
	display: inline-block;
	overflow: hidden;
	word-wrap: break-word;
	/**********动画效果***************/
	-o-transition: all 1.5s;
	-moz-transition: all 1.5s;
	-webkit-transition: all 1.5s;
	-ms-transition: all 1.5s;
}
.con_bottom_item_left {
	width: 690px;
	height: 500px;
	margin: 10px -20PX;
	display: inline-block;
	overflow: hidden;
	vertical-align: middle;
}
.con_bottom_item_right {
	width: 300px;
	height: 500px;
	margin: 10px 10px;
	border: 2px #9CC solid;
	display: inline-block;
	vertical-align: middle;
}
.tbar_login {
	width: 250px;
	font-family: "幼圆";
	font-size: 24px;
	box-shadow: 0 5px 0 #9CC;
}
.form_login {
	margin-top: 50px;
}
.login_input {
	height: 30px;
	margin: 5px 0;
}
.login_submit {
	width: 150px;
	height: 40px;
	margin: 20px 0;
	color: white;
	background-color: #3F6;
}
/*********************底部*********************/
.footer {
	width: 100%;
	height: 100px;
	color: #aaa;
	background-color: #333;
	border: 0;
}
